name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    name: Build binary
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            name: csound-lsp-linux-x86_64
          - os: macos-latest
            target: x86_64-apple-darwin
            name: csound-lsp-macos-x86_64
          - os: macos-latest
            target: aarch64-apple-darwin
            name: csound-lsp-macos-aarch64
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            name: csound-lsp-windows-x86_64.exe

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}
          profile: minimal
          override: true

      - name: Build
        run: cargo build --release --target ${{ matrix.target }}

      - name: Rename binary
        shell: bash
        run: |
          if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
            cp target/${{ matrix.target }}/release/csound-lsp.exe ${{ matrix.name }}
          else
            cp target/${{ matrix.target }}/release/csound-lsp ${{ matrix.name }}
          fi

      - name: Upload asset
        uses: softprops/action-gh-release@v1
        with:
          files: csound-lsp-*
